@page "/auth"
@model IctFinalProject.Admin.Pages.AuthPage

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>LOG IN</title>
</head>
<body>
<form method="post" class ="login_form">
    <img src="~/images/as__hana.png" alt="">
    <p style=" font-family: Roboto,serif; font-size: 18px; font-style: normal; font-weight: 400; line-height: 21px; " >Admin Panel</p>
    <input type="password" name="password" placeholder="Password"  class="password_text">
    <button><p class="login_text">LOG IN<p></button>
</form>
</body>
</html>


